<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		 <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		 <link href="../css/headerStyles.css" th:href="@{/css/headerStyles.css}" rel="stylesheet"/>
		 <link href="../css/footerStyles.css" th:href="@{/css/footerStyles.css}" rel="stylesheet"/>
	   	<link href="../css/all.min.css" th:href="@{/css/all.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:insert="fragments/header_footer_fragment :: header"></div>
<div th:insert="fragments/header_footer_fragment :: header"></div>

<div class = "jumbotron d-flex justify-content-center" style="margin-top:10px;">
    <h1 text="New Post" ></h1>
</div>


<div class="container-body" sec:authorize="isAuthenticated()">
    <form method="post" th:action="@{/posts/view/editpost_{id}(id=${post.id})}" th:object="${post}">
        <label for="postTitle">Post title:</label>
        <input type="text" id="postTitle" name="postTitle" th:field="${post.title}" placeholder="Title...">
        <br><br>
        <input type="hidden" id="id" name="id" th:field="*{id}">
        <input type="hidden" id="itemId" name="itemId" th:field="*{item.id}">
        <input type="hidden" id="imageId" name = "imageId" th:field="*{item.itemImage.id}">
        <textarea id="postToForum" name="postToForum" rows="10" cols="50" th:field="${post.story}" placeholder="Content...">

			  </textarea>
        <br><br>
        <br>
        <label for="itemName">Item:</label>
        <input type="text" id="itemName" name="itemName" th:field="*{item.name}" required>

        <label for="itemCategory">Category:</label>
        <select id="itemCategory" name="itemCategory" th:field="*{item.category}">
		
			 <option th:each="category: ${categories}"th:value="${category}" th:text="${category}"></option>
		
		</select>
        <br>
        <label for="tag">Tag</label>
		<!--  <input type="text" id="tag" name="tag" th:object="${tag}"> -->
		<select id="tag" name="tag" th:object="${tag}">
		  	
			 <option th:each="tag: ${allTags}"th:value="${tag}" th:text="${tag}"></option>
		
		</select>
		<button name="addTag">Add Tag</button>
		
		<fieldset id="tags">
			<div th:each="tag, stat: ${post.tags}">
				<input type="hidden" th:field="${post.tags[__${stat.index}__]}">
				<span th:text="${tag}"></span> <button  th:attr="onclick=|return clicked(${stat.index})|">Remove Tag</button>
			</div>
		</fieldset>
		<br>
        <button onclick="return goBack()">Cancel</button>
        <input type="submit" value="Submit">
    </form>
    <script>
        function goBack(){
            window.history.back();
        }
        function replaceTags(html){
			$('#tags').replaceWith($(html));
		}
		
		$('button[name="addTag"]').click(function(event){
			var data = $('form').serialize();
			$.post('/add_tag', data, replaceTags);
			return false;
		});
		
		function clicked(index){
			var data = $('form').serialize();
			data += '&removeTag=' + index;
			
			$.post('/remove_tag', data, replaceTags);
			
			return false;
		}
    </script>
</div>

</body>
</html>