<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>
	
		<h1>Antiques Forum</h1>
		
		<form th:action="@{/postToForums}" th:object="${posts}" method="get">
		  <label for="postCategory">Want to post? Choose your category from the list:</label>
		  <input list="postCategories" name="postCategory" id="postCategory">
		  <datalist id="postCategories">
		    <option value="Jewelry">
		    <option value="Clothing">
		    <option value="Furniture">
		
		  </datalist>
		  <input type="submit">
		</form>
		
		
		<div class="container">
		    <div class="Jewelry">
		        <h1>Jewelry</h1>
		        <p>
		            Put Recent Posts here
		        </p>
		     
		    </div>
		    <div class="Clothing">
		        <h1>Clothing</h1>
		        <p>
		            Put Recent Posts here
		        </p>
		       
		    </div>
		    <div class="Furniture">
		        <h1>Furniture</h1>
		        <p>
		            Put Recent Posts here
		        </p>
		        
		    </div>
		</div>
	
	</body>
</html>