<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="ISO-8859-1">
	<title>Posts</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<nav class="navbar navbar-expand-sm bg-light fixed-top">
	
		 <a href="/" class="navbar-brand">Home</a>
	  
	  <ul class="nav nav-pills">
	    <li class="nav-item">
	      <a class="nav-link" href="/posts">All Posts</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/posts/furniture/1">Furniture</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/posts/jewelry/1">Jewelry</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/posts/clothing/1">Clothing</a>
	    </li>
	    <li class="nav-item">

	      <a class="nav-link" href="/posts/newpost">New Post</a>
<!-  sec:authorize="hasAuthority('post')" >
	    </li>
	  </ul>
	  
	  <form class="form-inline" action="#">
	    <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search" name="search">
	    <button class="btn btn-success" type="submit">Search</button>
	  </form>
		
	</nav>
</div>

<h1 th:text="${category}"  class = "jumbotron d-flex justify-content-center" style="margin-top:80px;"></h1>

<div th:insert="fragments/pagination :: pagination"></div>

		<div th:each="post: ${posts}">
			<div class="card m-2">
			  <div class="card-body">
			    <h5 class="card-title" th:text="${post.title}"></h5>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${post.creator.username}"></h6>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${post.item.name}"></h6>
			    <p class="card-text" th:text="${#strings.abbreviate(post.story,500)}"></p>
			    <a th:href="@{/posts/view/{title}(title=${post.id})}" class="stretched-link"></a>
			  </div>
			</div>
		</div>
	</div>

<div th:insert="fragments/pagination :: pagination"></div>
</body>
</html>