<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="ISO-8859-1">
	<title>Posts</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	 <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../css/headerStyles.css" th:href="@{/css/headerStyles.css}" rel="stylesheet"/>
	<link href="../css/footerStyles.css" th:href="@{/css/footerStyles.css}" rel="stylesheet"/>
	<link href="../css/all.min.css" th:href="@{/css/all.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:insert="fragments/posts_header :: header"></div>

<h1 th:text="${category}"  class = "jumbotron d-flex justify-content-center" style="margin-top:10px;"></h1>

<div th:insert="fragments/pagination :: pagination"></div>

		<div th:each="post: ${posts}">
			<div class="card m-2">
			  <div class="card-body">
			    <h5 class="card-title" th:text="${post.title}"></h5>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${post.creator.username}"></h6>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${post.item.name}"></h6>
			    <p class="card-text" th:text="${#strings.abbreviate(post.story,500)}"></p>
			    <a th:href="@{/posts/view/{title}(title=${post.id})}" class="stretched-link"></a>
			  </div>
			</div>
		</div>

<div th:insert="fragments/pagination :: pagination"></div>
</body>
</html>