<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
		<title>Classified Ad</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		 <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		 <link href="../css/headerStyles.css" th:href="@{/css/headerStyles.css}" rel="stylesheet"/>
		 <link href="../css/footerStyles.css" th:href="@{/css/footerStyles.css}" rel="stylesheet"/>
	   	<link href="../css/all.min.css" th:href="@{/css/all.min.css}" rel="stylesheet"/>
	
	</head>
		<body>
			
			<div th:replace="fragments/header_footer_fragment :: header"></div>
			<h1 th:text="${ad.title}"  class = "jumbotron d-flex justify-content-center" style="margin-top:10px;"></h1>
			<div class="container-body">
				<div class="date">
						<h4><i>Posted by</i></h4>
						<h3 class="card-subtitle mb-2 text-muted" th:text="${ad.creator.username}"></h3>
						<p th:text="${ad.item.name}"></p>
						<p th:text="${ad.price}"></p>
		        
				</div>
				<p class="content" th:utext="${ad.description}">Post content</p>
			</div>

			
			
			
			<img th:unless="${ad.item.itemImage.fileName} eq ${''}"   th:src="@{${ad.item.itemImage.filePath}}">
			<br>
			
			<a class="nav-link"  th:if="${username.equals(ad.creator.username)} or ${isAdmin}" th:href="@{/classified_ads/edit/{id}(id=${ad.id})}">Edit</a>
		</body>
	</html>