.form-registration{
    margin-bottom: 0px;
}
.form-error{
    font-size: small;
}
.form-heading{
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 4px;
    height: 65px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #0DFAD6;
    border-bottom-width: 1px;
    background-image: linear-gradient(to bottom, #0099F5, #0BC5DE);
}
.login-button{
    color: #0B56DE!important;
    background-color: white;
    border: solid 1px #0B56DE!important;
}
.login-button:hover{
    color: white!important;
    background-color: #0099F5;
    border-color: #0B56DE;
}

label{
    color: #0B56DE
}

#submitBtn{
    margin-top: 20px;
    margin-bottom: -10px;
    background-color: #0099F5;
}