#formHeading {
    font-family: "Brush Script MT";
    font-size: 40pt;
    color: #0D22FA;
}
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.form-input{
    margin-bottom: 1rem;
}

.login-form-border{
    border: 1px solid #0D22FA;
    border-radius: .25rem;
}

#loginBtn{
    background-color: #0099F5;
}

#createAccount{
    font-size: 13pt;
    color: #0D22FA;
}

label{
    color: #0B56DE
}

#createAccountLink{
    color: #0099F5
}