<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	
		<body>
		
			<center><h1>Post</h1></center>
			
			<form method="post" th:action="@{/postToForums}" th:object="${postForumObj}">
			<label for="postTitle">Post title:</label>
			<input type="text" id="postTitle" name="postTitle" th:field="*{postTitle}">			<label for="w3review">Please enter your content here:</label><br>
			<br><br>
			<textarea id="postToForum" name="postToForum" rows="10" cols="50">
			  
			  </textarea>
			  <br><br>
			  <label for="myfile">Want to upload an image?:</label>
			<input type="file" id="myImg" name="myImg">
			<br>
			  <button onclick="goBack()">Cancel</button>
			  <input type="submit" value="Submit">
			</form>
			<script>
			function goBack(){
				window.history.back();
			}
			</script>
		
		
		</body>
	</html>
