<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Posts</title>
</head>
<body>
<!-- 
	This Page Needs
		-To show available posts
			-depending on permissions they can see edit or delete options (?)
			
		-search bar
		-Category selector
		
 -->
	<p>
		<a href="/Posts">All Posts</a>
		<a href="/Posts/Furniture">Furniture</a>
		<a href="/Posts/Jewelry">Jewelry</a>
		<a href="/Posts/Clothing">Clothing</a>
		<a href="/Posts/Art">Art</a>
		<a href="/Posts/Collectible">Collectible</a>
		<a href="">New Post</a>
	</p>
	<p>Search Bar here</p>
	<p>
		Posts Go Here
		
			<div th:each="post: ${posts}">
				<a th:href="@{/Post/{title}(title=${post.id})}"> <span th:text="${post.title}"> </span> </a>
				 <span th:text="${post.item.name}"> </span>
				 <span th:text="${post.item.category}"> </span>
			</div>
		
	</p>
</body>
</html>