<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Permissions</title>
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/homePageStyles.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/headerStyles.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/all.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/adminPages.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/DataTables/datatables.css}" rel="stylesheet"/>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet"/>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/DataTables/datatables.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
</head>
<body>
<div th:replace="fragments/header_footer_fragment.html :: header"></div>
<div class="container">
    <div class="row my-4">
        <div class="col">
            <div class="h1 tableTitle my-auto">Permissions</div>
        </div>
        <div class="col my-auto text-right">
            <a id="createBtn" class="btn text-white" th:href="@{/admin/createUpdate/permission/{id}(id = 0)}"><i class="fas fa-plus">&nbsp;Create New</i></a>
        </div>
    </div>
    <table id="permissionTable" class="table table-sm table-striped border">
        <thead>
        <tr>
            <th>Permission Name</th>
            <th>Created On</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Permission Name</th>
            <th>Created On</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</div>
<script>
    var permissionTable;
    function Delete(url){
        swal({
            title: "Are you sure you want to delete?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if(willDelete){
                $.ajax({
                    type: "DELETE",
                    url : url,
                    success: function (data){
                        if(data.success){
                            iziToast.show({
                                title: 'Success',
                                message: 'Permission was successfully deleted',
                                position: 'topRight',
                                timeout: 500000,
                                color: 'blue'
                            });
                            permissionTable.ajax.reload();
                        }
                        else{
                            iziToast.show({
                                title: 'Failed',
                                message: 'Permission was not successfully deleted',
                                position: 'topRight',
                                timeout: 500000,
                                color: 'blue'
                            });
                        }
                    }
                });
            }
        });
    }
    $(document).ready( function () {
        permissionTable = $('#permissionTable').DataTable({
            "ajax" : {
                "type": "GET",
                "url": "/admin/viewRestricted/getPermissionsTable",
                "contentType": "application/json; charset=utf-8",
                "dataSrc": "",
            },
            "columns" : [
                { "data": "permissionName", "width": "40%" },
                { "data": "createdOn", "width": "35%" },
                { "data": "id",
                    "render": function (data) {
                        return `<div class="text-center">
                                <a href="/admin/createUpdate/permission/${data}" class="btn mr-1" id="updateBtn" style="cursor:pointer; width:90px">
                                    <i class="far fa-edit"></i>Edit
                                </a>
                                <a onclick="Delete('/admin/delete/permission/${data}')" class="btn" id="deleteBtn" style="cursor:pointer; width:90px">
                                    <i class="far fa-trash-alt"></i>Delete
                                </a>
                            </div>`;
                    }, "width": "25%" }
            ]
        });
    });
</script>
</body>
</html>